<!doctype html>
<html lang="">
    @await  Html.PartialAsync("_head")
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">CatsDB</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if(User.Identity.IsAuthenticated){
                            <li><a [routerLink]="['Feed']">Hjem</a></li>
                            <li><a [routerLink]="['MyCats']">Mine Katte</a></li>
                        }
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2015 - CatsDB</p>
            </footer>
        </div>

        @await Html.PartialAsync("_layoutScripts")
        @RenderSection("scripts", required: false)
    </body>
</html>
