@{
    Layout = null;
}

<!doctype html>
<html lang="">
    @await Html.PartialAsync("_head")
    <body>
        <cats-db></cats-db>

        @await Html.PartialAsync("_layoutScripts")
        <script>
            System.config({
                defaultExtension: 'js',
                packages: {        
                    app: {
                        format: 'register',
                        defaultExtension: 'js'
                    }
                }
            });
            
            System.import('../app/bootstrap')
                    .then(null, console.error.bind(console));
        </script>
    </body>
</html>

<router-outlet></router-outlet>
